@use "../../scss/mixins" as *;
@use "../../scss/variables" as *;

.follow {
  background-image: url(../../assets/follow.png);
  text-align: center;
  height: 250px;
  .links {
    @include flex(center, n, 20px, n);
    padding-top: 50px;
    a {
      @include border-radius(50%);
      @include transition(0.5s);
      background-color: $background-color;
      color: $black-color;
      display: block;
      text-align: center;
      position: relative;
      width: 45px;
      height: 45px;
      font-size: 25px;

      &:hover {
        @include transition(0.5s);
        background-color: $primary-color;
        color: $background-color;
      }
    }
  }
}
