@use "../../scss/mixins" as *;
@use "../../scss/variables" as *;

.information {
  background-image: url(../../assets/h2About/information.jpg);
  width: calc(100% - 100px);
  @include breakPoints(xl) {
    width: calc(100% - 50px);
  }
  h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
  }
  .knows {
    @include flex(center, n, 50px, wrap);
    .know {
      flex: 1 1 calc(33.333% - 33.33333px);
      max-width: calc(33.333% - 33.33333px);
      min-width: 300px;
      text-align: center;
      h3 {
        color: $primary-color;
      }
      p {
        line-height: 1.8;
      }
      @include breakPoints(md) {
        flex-basis: 45%;
        max-width: 45%;
      }
      @include breakPoints(sm) {
        flex-basis: 90%;
        max-width: 90%;
      }
      .icon {
        @include border-radius(50%);
        background-color: $primary-color;
        padding: 30px;
        font-size: 30px;
      }
    }
  }
}
