@use "../../scss/variables" as *;
@use "../../scss//mixins" as *;
.page-container {
  background-image: url(../../assets/sign.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;

  .sign-page {
    @include position(absolute, 50%, n, n, 50%);
    @include transform(translate(-50%, -50%));
    display: flex;
    width: 90%;
    height: 80%;
    .content {
      @include border-radius(0 150px 20px 0);
      @include transition(0.5s);
      background-color: #00000099;
      backdrop-filter: blur(5px);
      text-align: center;
      padding: 40px 0;
      width: 50%;

      .text {
        color: $background-color;
        font-weight: bold;
        font-size: 25px;
      }
      img {
        width: 300px;
        height: 300px;
      }
      &.transform-left {
        @include transition(0.5s);
        @include transform(translateX(-100%));
        @include border-radius(150px 0 0 20px);
      }
    }

    .sign {
      @include border-radius(20px 0 0 150px);
      width: 50%;
      background-color: #000000d0;
      backdrop-filter: blur(10px);
      @include transition(0.5s);
      .form-holder {
        @include position(absolute, 50%, n, n, 50%);
        width: 100%;
        @include transform(translate(-50%, -50%));
        display: flex;

        form {
          padding: 0 30px;
          width: 60%;
          position: relative;

          h1 {
            color: $primary-color;
            font-size: 30px;
            text-align: center;
          }

          .inp-container {
            margin: 20px 0;
            padding: 10px 0;
            input {
              border: none;
              color: $background-color;
              border-bottom: $background-color solid 2px;
              outline: none;
              background-color: transparent;
              width: 100%;

              &::-webkit-input-placeholder {
                color: $background-color;
              }
            }
          }

          button {
            @include border-radius(8px);
            @include transition(0.5s);
            background-color: $primary-color;
            color: $background-color;
            padding: 10px 20px;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
            border: none;
            width: 100%;
            &:hover {
              @include transition(0.5s);
              background-color: #008053;
            }
          }

          .another-way {
            color: $background-color;
            text-align: center;
            margin: 20px 0;
            display: flex;
            p {
              font-size: 15px;
              width: 50%;
            }
            a {
              color: $primary-color;
              cursor: pointer;
              font-size: 15px;
              width: 50%;
            }
          }
          &::before,
          &::after {
            content: "";
            @include position(absolute, n, n, n, 0);
            border-right: solid 2px $background-color;
            height: 40%;
          }

          &::before {
            top: 0;
          }

          &::after {
            bottom: 0;
          }
        }

        .links {
          @include flex(center, normal, 0, nowrap);
          flex-direction: column;
          padding: 25px;
          position: relative;
          margin: auto;
          .social-icon {
            margin: 20px auto;
            font-size: 30px;
            color: $background-color;
            @include border-radius(50%);
            cursor: pointer;
          }

          &::after {
            content: "أو";
            color: $background-color;
            @include position(absolute, n, -100%, n, n);
            font-size: 35px;
          }
        }
      }
      &.transform-right {
        @include transform(translateX(100%));
        @include transition(0.5s);
        @include border-radius(0 20px 150px 0);
      }
    }
    @include breakPoints(md) {
      & {
        flex-direction: column;
        @include position(relative, 0, n, n, 0);
        width: 100%;
        height: 80%;

        @include transform(translate(0%, 0%));

        .content,
        .sign {
          margin: 10px 20px;
          width: calc(100% - 40px);
          @include border-radius(10px);

          .form-holder {
            @include position(relative, 0, n, n, 0);
            width: 100%;
            padding: 40px 0;
            margin: auto;
            @include transform(translate(0%, 0%));
            display: flex;
          }
        }
      }
    }
  }
}
