@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;
.explore {
  padding-top: 30px;
  h2 {
    text-align: center;
  }
  .sections {
    @include flex(center, normal, 0, wrap);
    .section {
      background-image: url(../../assets/main/explorer/instituations.jpg);
      flex: 1 1 25%;
      max-width: 25%;
      height: 350px;
      background-size: cover;
      position: relative;
      cursor: pointer;
      @include breakPoints(lg) {
        flex: 1 1 45%;
        max-width: 45%;
        margin: 5px;
      }
      @include breakPoints(sm) {
        flex: 1 1 100%;
        max-width: 100%;
      }
      &:nth-child(2) {
        background-image: url(../../assets/main/explorer/projects.jpg);
      }
      &:nth-child(3) {
        background-image: url(../../assets/main/explorer/conferences.jpg);
      }
      &:last-child {
        background-image: url(../../assets/main/explorer/records.jpg);
      }
      .text {
        @include position(absolute, n, 20px, 30px, 20px);
        @include transition(0.3s);
        color: $background-color;
        .icon {
          @include transition(0.3s);
          font-size: 20px;
          opacity: 0;
        }
      }
      &:hover .text {
        @include transition(0.3s);
        bottom: 60px;
        .icon {
          @include transition(0.3s);
          opacity: 1;
        }
      }
    }
  }
}
