@mixin breakPoints($size) {
  @if $size == "s" {
    @media (max-width: 376px) {
      @content;
    }
  } @else if $size == "sm" {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $size == "md" {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $size == "lg" {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $size == "xl" {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $size == "xxl" {
    @media (max-width: 1600px) {
      @content;
    }
  }
}

@mixin transition($trans) {
  transition: $trans;
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  -o-transition: $trans;
}

@mixin transform($trans) {
  transform: $trans;
  -webkit-transform: $trans;
  -moz-transform: $trans;
  -ms-transform: $trans;
  -o-transform: $trans;
}

@mixin border-radius($border) {
  border-radius: $border;
  -webkit-border-radius: $border;
  -moz-border-radius: $border;
  -ms-border-radius: $border;
  -o-border-radius: $border;
}

@mixin flex($justify, $align, $gap, $wrap) {
  display: flex;
  @if $justify != n {
    justify-content: $justify;
  }
  @if $align != n {
    align-items: $align;
  }
  @if $wrap != n {
    flex-wrap: $wrap;
  }
  @if $gap != n {
    gap: $gap;
  }
}

@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  @if $top != n {
    top: $top;
  }
  @if $right != n {
    right: $right;
  }
  @if $bottom != n {
    bottom: $bottom;
  }
  @if $left != n {
    left: $left;
  }
}
