@use "./variables" as *;
@use "./mixins" as *;

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cairo", "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

.container:not(header) {
  padding: 50px;
  @include breakPoints(xl) {
    & {
      padding: 50px 25px;
    }
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.logo {
  height: 100px;
  width: 100px;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

.btn {
  background-color: $primary-color;
  color: $background-color;
  display: inline-block;
  padding: 5px 25px;
  margin-top: 30px;
  @include border-radius(8px);
  @include transition(0.3s);
  font-size: 16px;
  &:hover {
    @include transition(0.3s);
    background-color: #008053;
  }
}

.before-heading {
  color: $helper-color;
  font-weight: bold;
}

.color-background {
  background-color: $background-color;
}

.flex {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 20px;
  div {
    width: 50%;
    .paragraph {
      margin: 10px 0;
      line-height: 1.8;
      color: #736e6e;
      text-align: justify;
      & ~ p {
        text-align: justify;
      }
    }
  }

  @include breakPoints(lg) {
    & {
      flex-direction: column;
      div {
        width: 100%;
      }
    }
  }

  .img img {
    width: 100%;
    filter: drop-shadow(0px 0px 5px black);
    -webkit-filter: drop-shadow(0px 0px 5px black);
  }
}

.white-text {
  color: $background-color;
}
.background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background {
  position: relative;
}

.dark::after {
  background-color: rgba(0, 0, 0, 0.47);
}

.light::after {
  background-color: rgba(255, 255, 255, 0.196);
}

.dark::after,
.light::after {
  backdrop-filter: blur(2px);
}

.cover {
  background-size: cover;
}

.index {
  position: relative;
  z-index: 1;
}

.qoute {
  background-image: url(../assets/h2About/qoute.jpg);
  height: 300px;
  div {
    width: 70%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: solid 1px $helper-color;
    border-right: none;
    border-left: none;
    padding: 20px;
    font-style: italic;
    z-index: 1;
    @include breakPoints(md) {
      font-size: 14px;
    }
  }
}

.contents h2 {
  color: $primary-color;
}
